.main{
	padding: 15px;
}

.widgetInfoBoxWrapper{
	height: 80px;
	margin-bottom: 20px;
    color: #fff;
    min-width: 200px;
}

.widgetsLeftArea{
	display: flex;
	float: left;
	height: 80px;
    width: 80px;
}

.widgetYellowArea{
	background-color: #ffff00;
}

.widgetRedArea{
	background-color: #ff5500;
}

.widgetGreenArea{
	background-color: #006600;
}


.widgetsIcon{
	display: flex;
	align-items: center;
	font-size: 50px;
	width: 100%;
    justify-content: center;
}

.widgetsRightArea{
	height: 80px;
	background-color: #A2A48D
}

.widgetsInfoBoxKnob{
	overflow: hidden;
	padding-top: 15px;
	padding-left: 15px;
}

.widgetsInfoBoxKnob > p{
	margin:0;
}

.widgetMetricBoxWrapper{
	height: 120px;
	margin-bottom: 20px;
    color: #fff;
    min-width: 200px;
}

.widgetMetricBox{
	padding: 0px;
	border-radius: 5px;
	/*margin-top: 25px;*/
	/*min-width: 160px;*/
}

.widgetMetricBoxHeader{
	border-radius: 5px 5px 0 0;
	height: 90px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	text-align: center;

}

.cardArea{
	float: left;
	width: 100%;
	height: 100%;
}

.cardNumber{
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 10px;
	font-weight: bold;
}

.widgetMetricBoxInfoBar{
	height: 30px;
	background-color: rgba(0,0,0,0.2);
	line-height: 30px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.chatWindowHeader{
    width: 100%;
	height: 40px;
    background: white;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.chatWindowHeaderLeftSection{
	float: left;
}

.chatOnlineIndicator{
	font-size: 10px;
	color: green;
	vertical-align: middle;
}

.leftSection{
	float: left;
}

.rightSection{
	float: right;
}
.chatWindow{
	width: 100%;
	height: 250px;
    border-top: 1px solid #C1C2C4;
    background: #fff;
    overflow: auto;
}

.chatMessage{
	display: table;
	float: right;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.chatWindowDP{
	    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.chatSingleMessage{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
    background: #D2D3DB;
	border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.chatMessageImage{
	background: #fff;
}

.chatWindowWrapper{
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 200px;
}

.chatWindowMessageSendingBar{
	display: flex;
	align-self: center;
	height: 50px;
	background-color: #fff;
	border-top: 1px solid #C1C2C4;
	padding-left: 10px;
	padding-right: 10px;
}

.chatMessageInput{
	outline: none !important;
    box-shadow: none;
    border: none;
	height: 40px;
	font-size: 15px;
}

.chatMessageSendButton{
	height: 40px;
	border-radius: 2px;
	cursor: pointer;
}

.chatMessageSendButton span{
	border: 0px;
	color: #fff;
	font-size: 15px;

}

.chatWindowMessageWrapper{
	display: flex;
	align-self: center;
}

.progressBarWrapper{
	margin: 10px 0px;
}

.progress{
	margin: 10px;
}

.card-body{
	padding: 0px 10px;
	margin: 10px 0px;
}
