<div class="main">
	<strong>Basic Elements</strong>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="card">
				<div class="buttonsHeader card-header">
					Buttons
				</div>
				<div class="card-body">
					<table class="table table-bordered">
						<tr>
							<th>Normal</th>
							<th>Large</th>
							<th>Small</th>
							<th>Disabled</th>
						</tr>
						<tr>
							<td><button class="btn">Basic</button></td>
							<td><button class="btn btn-lg">Basic</button></td>
							<td><button class="btn btn-sm">Basic</button></td>
							<td><button class="btn" disabled>Basic</button></td>
						</tr>
						<tr>
							<td><button class="btn btn-primary">Primary</button></td>
							<td><button class="btn btn-primary btn-lg">Primary</button></td>
							<td><button class="btn btn-primary btn-sm">Primary</button></td>
							<td><button class="btn btn-primary" disabled>Primary</button></td>
						</tr>
						<tr>
							<td><button class="btn btn-success">Success</button></td>
							<td><button class="btn btn-success btn-lg">Success</button></td>
							<td><button class="btn btn-success btn-sm">Success</button></td>
							<td><button class="btn btn-success" disabled>Success</button></td>
						</tr>
						<tr>
							<td><button class="btn btn-danger">Danger</button></td>
							<td><button class="btn btn-danger btn-lg">Danger</button></td>
							<td><button class="btn btn-danger btn-sm">Danger</button></td>
							<td><button class="btn btn-danger" disabled>Danger</button></td>
						</tr>
						<tr>
							<td><button class="btn btn-info">Info</button></td>
							<td><button class="btn btn-info btn-lg">Info</button></td>
							<td><button class="btn btn-info btn-sm">Info</button></td>
							<td><button class="btn btn-info" disabled>Info</button></td>
						</tr>
						<tr>
							<td><button class="btn btn-warning">Warning</button></td>
							<td><button class="btn btn-warning btn-lg">Warning</button></td>
							<td><button class="btn btn-warning btn-sm">Warning</button></td>
							<td><button class="btn btn-warning" disabled>Warning</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					Buttons with icons
				</div>
				<div class="card-body buttonWithIcons">
					<button class="btn btn-primary"><span class="cardButtonIcon"><i class="far fa-paper-plane"></i></span>Primary</button>
					<button class="btn btn-success"><span class="cardButtonIcon"><i class="far fa-paper-plane"></i></span>Success</button>
					<button class="btn btn-danger"><span class="cardButtonIcon"><i class="far fa-paper-plane"></i></span>Danger</button>
					<button class="btn btn-info"><span class="cardButtonIcon"><i class="far fa-paper-plane"></i></span>Info</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					Inputs
				</div>
				<div class="card-body">
					Basic Input Text Box
					<input class="inputText form-control" placeholder="Please enter the username">
					Input with add-ons
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" >@</span>
						</div>
						<input type="text" class="form-control" placeholder="Username">
					</div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Username">
						<div class="input-group-append">
							<span class="input-group-text" >@gmail.com</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					Radio Boxes
				</div>
				<div class="card-body">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
						<label class="form-check-label" for="exampleRadios1">
							Default radio
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						<label class="form-check-label" for="exampleRadios2">
							Second default radio
						</label>
					</div>
					<div class="form-check disabled">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
						<label class="form-check-label" for="exampleRadios3">
							Disabled radio
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					Check Boxes
				</div>
				<div class="card-body">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
							Default checkbox
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
						<label class="form-check-label" for="defaultCheck2">
							Disabled checkbox
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>