<div class="main" (window:resize)="windowresize($event)">
  <div class="sidebar"  [ngClass]="sidebarClass">
    <div class="sidebarHeading">
      <span [ngStyle]="{'display':displayOptions}">Admin</span><span class="sidebarBars" (click)="toogleSidebar()"><i class="fas fa-bars"></i></span>
    </div>
    <div class="sidebarNavigationHeading">
      <span [ngStyle]="{'display':displayOptions}">Navigation</span>
    </div>
    <div class="sidebarDisplayOptions">
      <ul (click)="toogleMobileSidebar()">
        <li (click)="pageName = 'Dashboard'">
          <span [ngStyle]="{'display':displayOptions}">Dashboard</span><span class="sidebarIcons"><i class="fas fa-tachometer-alt"></i></span>
        </li>
        <li (click)="pageName = 'Widgets'">
          <span [ngStyle]="{'display':displayOptions}">Widgets</span><span class="sidebarIcons"><i class="fas fa-th-large"></i></span>
        </li>
        <li (click)="pageName = 'Form Elements'">
          <span [ngStyle]="{'display':displayOptions}">Form Elements</span><span class="sidebarIcons"><i class="fab fa-wpforms"></i></span>
        </li>
        <li (click)="pageName = 'Charts'">
          <span [ngStyle]="{'display':displayOptions}">Charts</span><span class="sidebarIcons"><i class="fas fa-chart-pie"></i></span>
        </li>
        <li (click)="pageName = 'Maps'">
          <span [ngStyle]="{'display':displayOptions}">Maps</span><span class="sidebarIcons"><i class="fas fa-map"></i></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="mainContent" [ngStyle]="{'margin-left':mainContentMargin}">
    <div class="contentHeader">
      {{pageName}}
    </div>
      <div [ngSwitch]="pageName">
        <div *ngSwitchCase="'Dashboard'">
          <app-dashboard></app-dashboard>
          <!-- <app-maps></app-maps> -->
          
        </div>
        <div *ngSwitchCase="'Widgets'">
          <app-widgets></app-widgets>
        </div>
        <div *ngSwitchCase="'Maps'">
          <app-maps></app-maps>
        </div>
        <div *ngSwitchCase="'Charts'">
          <app-charts></app-charts>
        </div>
        <div *ngSwitchCase="'Form Elements'">
          <app-ui-elements></app-ui-elements>
        </div>
      </div>
  </div>
</div>